<div id = "visit">
  <table id = "tabla"> 

   <%  trip.visits.order(:hour).each do |visit| %>
    <tr class="<%= cycle('odd', 'even') %>"> 

      <td class = "imagen"> 
        <%= link_to image_tag(visit.site.image_url, :class => 'list_image'), visit.site %>
      </td> 
 
      <td class="datos"> 
        <%= visit.hour.to_s + 'h: ' %>
              <%=link_to(visit.site.name, visit.site) %><br>
        <%= truncate(strip_tags(visit.site.description),
                 :length => 80) %>
      </td>
 
      <td class="acciones"> 
        <%= link_to 'Show', visit.site %><br/>
        <%= link_to 'Destroy', visit, 
                    :confirm => 'Are you sure?',
                    :method => :delete if trip.user == current_user  %>

      </td> 
    </tr> 
   <% end %>
  </table> 
</div>

