
<script type="text/javascript">
 
  window.onload=function() {
    var myOptions = {
          center: new google.maps.LatLng(0,0 ),
          zoom: 1,
          mapTypeId: google.maps.MapTypeId.HYBRID
        };
    var map = new google.maps.Map(document.getElementById("map_canvas"),
            myOptions);

      
    <% @trip.sites.each do |site| %>
        <%if site.latitud!=nil && site.latitud!=nil %> 
          var latitude = <%= site.latitud %>
          var longitude = <%= site.longitud %>
          var zoom = 12
          var latlng = new google.maps.LatLng(latitude,longitude);
          var myOptions = {
            zoom: zoom,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.HYBRID
          }
      
          map.setOptions(myOptions);

         var icon = new google.maps.MarkerImage ("<%= asset_path(site.image) %>",
                                                new google.maps.Size(100,75),
                                                new google.maps.Point(0,0), new google.maps.Point(0,30));
          var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            icon: icon
          });
        <% end %>
    <% end %>
  }
 </script>



<div id="map_canvas"></div><br />
<div id="visit">
  <table> 
   <%  trip.visits.order(:hour).each do |visit| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> 
      <td> 
        <%= link_to image_tag(visit.site.image.url, :class => 'list_image'), visit.site %>
      </td> 
 
      <td class="list_description"> 
        <dl> 
          <dt><%= visit.hour.to_s + 'h: ' %>
              <%=link_to(visit.site.name, visit.site) %></dt> 
          <dd><%= truncate(strip_tags(visit.site.description),
                 :length => 80) %></dd>
        </dl> 
      </td>
 
      <td class="list_actions"> 
        <%= link_to 'Show', visit.site %><br/>
        <%= link_to 'Destroy', visit, 
                    :confirm => 'Are you sure?',
                    :method => :delete if trip.user == current_user  %>

      </td> 
    </tr> 
   <% end %>
  </table> 
</div>

