<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

  var map;
  var ne;
  var sw;

  <% @sites = @trip.sites %>
  <% num_sites = @sites.length %>

  function getCenter() {
    var c_lat;
    var c_lng;
    var lat = 0;
    var lng = 0;
    <% @sites.each do  |s| %>
      lat += <%= s.latitud %>;
      lng += <%= s.longitud %>;
    <% end %>
    c_lat = lat/<%= num_sites %>;
    c_lng = lng/<%= num_sites %>;
    return new google.maps.LatLng(c_lat,c_lng);
  }

  function setMarkers() {
    <% i = 1 %>
    <% @sites.each do  |s| %>
      lat = <%= s.latitud %>;
      lng = <%= s.longitud %>;
      center = new google.maps.LatLng(lat,lng); 
      var marker<%= i %> = new google.maps.Marker({
            map: map,
            position: center
        });
      marker<%= i %>.setTitle("<%= s.name %>");
      <% i+= 1 %>
    <% end %>
  }

  function iniMapa() {
    var myOptions = {
      zoom: 12,
      center: getCenter(),
      mapTypeId: google.maps.MapTypeId.HYBRID
    }
    map = new google.maps.Map(document.getElementById("trip_canvas"), myOptions);
    setMarkers();
  }

</script>

<h1><%= @trip.name %></h1>

<p><b>Date: </b><%= @trip.date %></p>

<p><b>Autor: </b><%= @trip.user.name if @trip.user %></p>
 
<p><b>Description: </b><%= @trip.description %></p>

<br>

<p><h2>Sitios a visitar:</h2></p>

<div id="site_list">

  <%= render(@trip) %>
  <p>
  <% if @trip.user == current_user %>
    <%= form_for(@visit) do |f| %>
  
      <%= f.number_field :trip_id, :value => @trip.id, :hidden => true %>
      <%= f.collection_select(:site_id, 
                            Site.all,
                            :id, 
                            :name) %>
      <%= f.select(:hour, Array.new(24, 0).fill {|i| [(i.to_s + 'H'), i]}) %>
      <%= f.submit "Añadir sitio" %>
    <% end %>
  <% end %>
  </p>
</div>
<% if @trip.sites != [] %>
  <p><div id="trip_canvas"></div></p>
<% end %>

<div id = "trip_bottom">
  <% if @trip.user == current_user %>
    <%= link_to 'Edit', edit_trip_path(@trip) %> |
  <% end %>
  <%= link_to 'Back', trips_path %>
</div>