<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

  var map;
  var ne;
  var sw;

  <% @sites = @trip.sites %>
  <% num_sites = @sites.length %>

  function getCenter() {
    var c_lat;
    var c_lng;
    var lat = 0;
    var lng = 0;
    <% @sites.each do  |s| %>
      lat += <%= s.latitud %>;
      lng += <%= s.longitud %>;
    <% end %>
    c_lat = lat/<%= num_sites %>;
    c_lng = lng/<%= num_sites %>;
    return new google.maps.LatLng(c_lat,c_lng);
  }

  function getZoom() {
    var zoom;
    <% @sites.each do  |s| %>
      zoom += <%= s.zoom %>;
    <% end %>
    return 12;
  }

  function setMarkers() {
    <% i = 1 %>
    <% @sites.each do  |s| %>
      lat = <%= s.latitud %>;
      lng = <%= s.longitud %>;
      center = new google.maps.LatLng(lat,lng); 
      var marker<%= i %> = new google.maps.Marker({
            map: map,
            position: center
        });
      marker<%= i %>.setTitle("<%= s.name %>");
      <% i+= 1 %>
    <% end %>
  }

  function getCorners() {
    ne = map.getBounds().getNorthEast();
    sw = map.getBounds().getSouthWest();
    alert("NE " + ne + "\nSW " + sw);
  }

  function iniMapa() {
    var myOptions = {
      zoom: 12,
      center: getCenter(),
      mapTypeId: google.maps.MapTypeId.HYBRID
    }
    map = new google.maps.Map(document.getElementById("site_canvas"), myOptions);
    setMarkers();
  }

</script>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Date:</b>
  <%= @trip.date %>
</p>

<p>
  <b>Autor:</b> 
  <%= @trip.user.name if @trip.user %>
</p>
 
<p>
  <b>Description:</b>
  <%= simple_format @trip.description %>
</p>

<div id="site_list">

  <h1>Sitios a visitar</h1>

  <%= render(@trip) %>
  <p>
  <% if @trip.user == current_user %>
    <%= form_for(@visit) do |f| %>
  
      <%= f.number_field :trip_id, :value => @trip.id, :hidden => true %>
      <%= f.collection_select(:site_id, 
                            Site.all,
                            :id, 
                            :name) %>
      <%= f.select(:hour, Array.new(24, 0).fill {|i| [(i.to_s + 'H'), i]}) %>
      <%= f.submit "Añadir sitio" %>
    <% end %>
  <% end %>
  </p>
</div>
<p><input type="button" value="ver esquinas" onclick="getCorners()"></p>
<p><div id="site_canvas"></div></p>

<% if @trip.user == current_user %>
   <%= link_to 'Edit', edit_trip_path(@trip) %> |
<% end %>
<%= link_to 'Back', trips_path %>
