<% @user.comments.each do |c| %>
	<p>
		<% site = Site.find(c.site_id) %>
		<%= site.name %> - <%= link_to "Ir" ,site_path(site)%><br>
		<%= image_tag(site.image_url, :class => 'imagen_show') %><br>
		<i><%= c.comment %></i><br>
		Fecha creación: <%= c.updated_at %><br>
		<br>
	</p>
<% end %>