<div id='site_list'>
<h1>Listing comments</h1>

<table>
  <tr>
    <th>Comment</th>
    <th>User</th>   
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>

  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">    
    <!--<td><%= comment.user_id%></td-->      
    
    <td class='list_description'>   
    <dd><%= truncate(strip_tags(comment.coment),
                 :length => 240) %></dd>        
    </td>
    <td class='list_actions'>
    <!--<td><%= link_to 'Show', comment %></td>-->
    <% if comment.user ==current_user %>   
    <td><%= link_to 'Edit', site_comment_path(@site) %></td>
    <td><%= link_to 'Destroy', @site.comment, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
   
    </td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'Nuevo comment', new_site_comment_path %>