<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
   <%= @comment.user.name %>
</p>

<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>Site:</b>
   <%= @comment.site_id %>
</p>


<% if @comment.user == current_user %>
	<%= link_to 'Edit comment', edit_site_comment_path(@comment) %> |
<% end %>
<%= link_to 'Back to site', site_path(@comment.site) %>