<p>
  <b>Comment:</b>
  <%= @comment.comment %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user.name %>
</p>

<p>
  <b>Site:</b>
  <%= @comment.site.name %>
</p>

<div id='options'>
  <% if @comment.user == current_user %>
  	<%= link_to 'Edit', edit_comment_path(@comment) %> |
  <% end %>
  <%= link_to 'Back', site_path(@comment.site) %>
</div>
