<%= form_for([:site, @comentario]) do |f| %>
  <% if @comentario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comentario.errors.count, "error") %> prohibited this comentario from being saved:</h2>

      <ul>
      <% @comentario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <h2>Introduzca Texto del Comentario:</h2>


 
  <div class="field">
   
    <%= f.text_area :coment %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
