<div id="site_list"> 
<h1>Comentarios</h1>

<table>
  <!--<tr>
    <th>Coment</th>
    <th>User</th>
    <th>Site</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>-->
<% @comentarios.each do |comentario| %>

    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> 
    <!--<td><%= comentario.user.name if comentario.user %></td>-->
	<td class="list_description"> 
        	<dl> 
    		  <!--<dt><%= link_to comentario.site.name, comentario.site if comentario.site%></dt>-->
		  <dt><%= comentario.user.name if comentario.user %></dt>
        	  <dd><%= comentario.coment %></dd>
	</td>

	<td class="list_actions">
		<!--<%= link_to 'Show', comentario %><br/>-->
		<% if comentario.user == current_user %>
			<%= link_to 'Edit', edit_comentario_path(comentario) %> <br/>
  			<%= link_to 'Destroy', comentario, confirm: 'Are you sure?', method: :delete %>
		<% end %>
	</td>
     </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Comentario', new_comentario_path %>
