
<div id="site_list"> 
  <h1>Listing Comentarios</h1> 
 
  <table> 
  <% @comentarios.each do |comentario| %>
    <tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> 
 
      
 
      <td class="list_description"> 
        <dl> 
          
          <dd><%= comentario.user.name if comentario.user %> : <%= strip_tags(comentario.coment)
                  %></dd>
                
        </dl> 
      </td>
 
      <td class="list_actions"> 
        
        
        
        <% if comentario.user == current_user %>
        <p>
       <%= link_to 'Eliminar', [comentario.site, comentario],
               :confirm => 'Are you sure?',
               :method => :delete %>
               
    <%= link_to 'Editar', edit_site_comentario_path(comentario.site,comentario) %>
               

      
</p>
       
        <% end %>
      </td> 
    </tr> 
  <% end %>
  </table> 
</div> 
 
<br /> 







