<div id='site_list'>
<h1>Listing comentarios</h1>

<table>
  <tr>
    <th>Coment</th>
    <th>User</th>   
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comentarios.each do |comentario| %>

  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">    
    <!--<td><%= comentario.user_id%></td-->      
    
    <td class='list_description'>   
    <dd><%= truncate(strip_tags(comentario.coment),
                 :length => 240) %></dd>        
    </td>
    <td class='list_actions'>
    <!--<td><%= link_to 'Show', comentario %></td>-->
    <% if comentario.user ==current_user %>   
    <td><%= link_to 'Edit', site_comentario_path(@site) %></td>
    <td><%= link_to 'Destroy', @site.comentario, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
   
    </td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'Nuevo comentario', new_site_comentario_path %>
