<p id="notice"><%= notice %></p>

<p>
  <b>Coment:</b>
  <%= @comentario.coment %>
</p>

<p>
  <b>Autor:</b>
  <!--<%= @comentario.user_id %>-->
  <%= @comentario.user.name if @comentario.user %>
</p>

<p>
  <b>Site:</b>
  <!--<%= @comentario.site_id %>-->
  <%= @comentario.site.name if @comentario.site %>
</p>


<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %> |
<%= link_to 'Destroy', @comentario, :confirm => 'Are you sure?', :method => :delete %>
