<p id="notice"><%= notice %></p>

<p>
  <b>Comentario:</b>
  <%= @comentario.coment %>
</p>

<p>
  <b>Autor:</b>
    <%= @comentario.user.name if @comentario.user %>
</p>

<p>
  <b>Site:</b>
    <%= @comentario.site.name if @comentario.site %>
</p>

<% if @comentario.user == current_user %>
  <%= link_to 'Edit', edit_comentarios_path(@comentario) %> |
  <%= link_to 'Destroy', @comentario, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', site_path(@comment.site) %>