<!DOCTYPE html>
<head>
  <title>Planet</title>
</head>

<body>
	<hr>


	<h1>Author: </h1>
	<p>
	<%= image_tag('bea.JPG') %>
		<ul>
			<li> <b>Nombre:</b> <%= "Beatriz Martínez Rubio" %> </li>
			<li> <b>Dirección postal:</b> <%= "c/Eduardo Saavedra 5 A, CP 42004" %> </li>
			<li> <b>Dirección electrónica:</b> <%= "beatrizmr89@gmail.com" %> </li>
			<li> <b>Breve curriculum:</b>
				<ul>
					<li>Estudios: <%= "cuarto curso ingeniería superior de Telecomunicaciones" %></li>
				</ul>
			</li>
		</ul>
	</p>
	<p>
	<%= image_tag('pablo.jpg') %>
		<ul>
			<li> <b>Nombre:</b> <%= "Pablo Moncada Isla" %> </li>
			<li> <b>Dirección postal:</b> <%= "c/Felipe Clemente de Diego" %> </li>
			<li> <b>Dirección electrónica:</b> <%= "pmoncadaisla@gmail.com" %> </li>
			<li> <b>Breve curriculum:</b>
				<ul>
					<li>Estudios: <%= "cuarto curso ingeniería superior de Telecomunicaciones" %></li>
					<li>Idiomas: <%= "inglés" %></li>
					<li>Experiencia: <%= "beca GSI" %></li>
				</ul>
			</li>
		</ul>
	</p>


	<hr>
	
</body>