<h1>Search Results for "<%= @search %>":</h1>

<%if !(@sites.length==0) %>
<%= render 'sites/listsites' %>
<%else%>
<h2><%="No se han encontrado sites con estos argumentos."%></h2> <%end%>

<%if !(@trips.length==0) %>
<%= render 'trips/listtrips' %>
<%else%>
<h2><%="No se han encontrado viajes con estos argumentos."%></h2> 

<%end%>