<%= form_for(@coment) do |f| %>
  <% if @coment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coment.errors.count, "error") %> prohibited this coment from being saved:</h2>

      <ul>
      <% @coment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :coment %><br />
    <%= f.text_field :coment %>
  </div>
    <div class="field">
		<%= f.hidden_field(:user_id, :value => current_user.id)%>
	</div>
  
  <div class="field">
    <%= f.label :site_id %><br />
    <%= f.collection_select(:site_id, Site.find(:all, :order => :name), :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit %>  
  </div>
<% end %>
