<%
require 'open-uri'
require 'json'
%>
 

<h1>Listing coments</h1>
	<div class="comentarios">
		<% @coments.each do |coment| %>		 
		  <p id="cadaComentario">		  
			  <div class="list_actions"> 
				<% if coment.user == current_user %>
					<%= link_to 'Edit', edit_coment_path(coment) %>
					<%= link_to 'Destroy', coment, 
							:confirm => 'Are you sure?',
							:method => :delete %>
				<% end %>
			  </div>
			  <b>Sitio:</b><%= coment.site.name if coment.site %><br/>
			  <b><%= coment.user.name if coment.user %>:</b>	 
			  <%= coment.coment %> <br/>
			  <span class="dondeEstoy"><%= image_tag('blue-marker.png') if !coment.longitude.nil? %><%= get_address(coment.latitude,coment.longitude) if !coment.longitude.nil? %> 	</span>
			  <hr>			  
		  </p>		
		<% end %>
	
	
</div>






<%= link_to 'New Coment', new_site_coment_path if !params[:site_id].nil? %>
<%= link_to 'New Coment', new_coment_path if params[:site_id].nil? %>
