<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

  var geocoder = new google.maps.Geocoder();
  var map;
  var marker;

  function iniMapa() {
    var latlng = new google.maps.LatLng(0,0);
    var myOptions = {
      zoom: 1,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.HYBRID
    }
    map = new google.maps.Map(document.getElementById("form_canvas"), myOptions);
  }

  function situarMapa() {
    address = $('#site_name').val();
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        latlng = results[0].geometry.location;
        map.setCenter(latlng);
        map.setZoom(10);
        marker = new google.maps.Marker({
          map: map,
          position: latlng,
          title: address
        });
        marker.setDraggable(true);
      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }

  function ubicActual() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(displayPos, errorFunction);
    } else { alert('Geolocation is not supported in this browser.'); }
  }

  function errorFunction(pos) { alert('Error!'); }

  function displayPos(pos) {
    var mylat = pos.coords.latitude;
    var mylong = pos.coords.longitude;
    var latlng = new google.maps.LatLng(mylat, mylong);
    var myOptions = {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.HYBRID
    };
    map = new google.maps.Map(document.getElementById("form_canvas"), myOptions);
    marker = new google.maps.Marker({
      map: map,
      position: latlng
    });
  }

  function copyParams() {
    var pos = marker.getPosition();
    var lat = pos.lat();
    var lng = pos.lng();
    var zoom = map.getZoom();
    $('#site_latitud').val(lat);
    $('#site_longitud').val(lng);
    $('#site_zoom').val(zoom);
  }

</script>


<div id = "site_col1">

  <%= form_for(@site) do |f| %>
    <% if @site.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>
        <ul>
        <% @site.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div id = "nombre" class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <br>
    <p>
      <input type="button" value="Mostrar" onclick="situarMapa()">
      <input type="button" value="Ubicación actual" onclick="ubicActual()">
      <input type="button" value="Copiar parámetros" onclick="copyParams();">
    </p>
    <div id = "form_canvas"></div>

</div>

<div id = "site_col2">

    <div class="field">
      <%= f.label :latitud %><br />
      <%= f.text_field :latitud %>
    </div>
    <br>
    <div class="field">
      <%= f.label :longitud %><br />
      <%= f.text_field :longitud %>
    </div>
    <br>
    <div class="field">
      <%= f.label :zoom %><br />
      <%= f.text_field :zoom %>
    </div>
    <br>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description , :rows => 4 %>
    </div>
    <br>
    <div class="field">
      <%= f.label :type_id %><br />
      <%= f.collection_select(:type_id, Type.find(:all, :order => :name), :id, :name) %>
    </div>
    <br>
    <div class="field">
      <%= f.label :image_url %><br />
      <%= f.text_field :image_url %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>