<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">

        if  (navigator.geolocation)   {   //Check if browser supports W3C Geolocation API

           navigator.geolocation.getCurrentPosition   (successFunction,   errorFunction);

        } else {  alert('Geolocation is not supported in this browser.'); }

        function successFunction(position) {

           var lat = position.coords.latitude;
           var long = position.coords.longitude;
//           alert('Your latitude is :'+lat+' and longitude is '+long);
	   $("#site_lat").val(lat)
	   $("#site_long").val(long)
	   $("#site_zoom").val("15")
        }

        function errorFunction(position) {    alert('Error!');   }


</script>


  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description , :rows => 4 %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.collection_select(:type_id, Type.find(:all, :order => :name), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_area :lat , :rows => 1 %>
  </div>
  <div class="field">
    <%= f.label :long %><br />
    <%= f.text_area :long , :rows => 1 %>
  </div>
  <div class="field">
    <%= f.label :zoom %><br />
    <%= f.text_area :zoom , :rows => 1 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
