<%= form_for(@site) do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description , :rows => 4 %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.collection_select(:type_id, Type.find(:all, :order => :name), :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div>
  	<script type="text/javascript">
			if (navigator.geolocation) { //Check if browser supports W3C Geolocation API
				navigator.geolocation.getCurrentPosition (successFunction, errorFunction);
			} else { alert('Geolocation is not supported in this browser.'); }
			function successFunction(position) {
				var lat = position.coords.latitude;
				var long = position.coords.longitude;
				$("#lat").attr("value", lat);
				$("#long").attr("value", long);
			}
			function errorFunction(position) { alert('Error!'); }
		</script>
		<%= f.label :latitud %>
		<%= f.text_field :latitud, :id => "lat" %><br/>
		<%= f.label :longitud %>
		<%= f.text_field :longitud, :id => "long" %><br/>
		<%= f.label :zoom %>
		<%= f.text_field :zoom, :value => "15" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
