<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

  var map;
  var latlng;
  var myOptions
  var marker;

  function iniMapa() {
    var lat = <%= @site.latitud %>;
    var lng = <%= @site.longitud %>;
    latlng = new google.maps.LatLng(lat,lng);
    myOptions = {
      zoom: <%= @site.zoom %>,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.HYBRID
    }
    map = new google.maps.Map(document.getElementById("site_canvas"), myOptions);
    marker = new google.maps.Marker({
            map: map,
            position: latlng
        });
    marker.setTitle("<%= @site.name %>");
  }

</script>
 
<h1><%= @site.type.name if @site.type %></h1>

<table id = "tabla">

  <td>
    <%= image_tag(@site.image_url, :class => 'imagen_show') %>
  </td>

  <td style = "padding-left: 50px;">
    <h3><%= @site.name %></h3>
    <p><%=sanitize @site.description %></p>
    <p><b>Autor: </b><%= @site.user.name if @site.user %></p>
    <p><b>Visitas:</b>  <%= @site.visitas %></p>
    <p>
      Incluido en <%=@site.visits.length%> viaje<%if @site.visits.length != 1%>s<%end%>
    </p>
  </td>

</table>

<div id = "site_canvas"></div>

<div id = "site_comentarios">
      <% if @site.comments != [] %>
        <b>Todos los comentarios:</b>
          <br><br>
          <%= render @site.comments %>
          <br><br>
      <% end %>
    <!-- Muestra el formulario para dejar un nuevo
    comentario sólo si hay un usuario loggeado -->
    <% if current_user != nil %>
      
        <b>Añada su comentario:</b><br><br>
        <%= render "comments/form" %>
    <% else %>
        <%= link_to "Inicie sesión", new_user_session_path %> 
        para dejar un comentario.
      
    <% end %>
  </div>

<div id = "site_bottom">
  <% if current_user != nil %>
    <% if (@site.user == current_user) or (current_user.name == 'admin') %>
      <%= link_to 'Edit', edit_site_path(@site) %> |
    <% end %>
  <% end %>
  <%= link_to 'Back', sites_path %>
</div>