<div id="site">

<h1><%= @site.type.name if @site.type %></h1>
<%= image_tag(@site.image, :class => 'site_image') %>
<h3><%= @site.name %></h3>

<p><%=sanitize @site.description %></p

<p><b>Coordenadas:</b>
         <i>Longitud</i> <%= @site.longitud %>
         <i>Latitud:</i> <%= @site.latitud %>
         <i>Zoom:</i> <%= @site.zoom %>

<div class="geo">
<%= render "geo"%>
</div>

<p><b>Autor:</b> 
          <%= @site.user.name if @site.user %></p>

</div> 

<% if @site.comments!=[] %>
<% @site.comments.inspect %>
<b>Comentarios:</b>
	<%= render @site.comments %></p
<% end %>

<p><b>Añada su comentario:</b> 
<% if current_user %>    
       <%= render "comments/form" %></p
<% else %>  
	<i><%= link_to "Ingrese", new_user_session_path %> para comentar:</i>
        
<% end %>	
	

<p />
<% if @site.user == current_user %>
  <%= link_to 'Edit', edit_site_path(@site) %> |
<% end %>
<%= link_to 'Back', sites_path %></div>
