<style type="text/css">
  html, body {    width: 100%;  height: 100%; }
  #map_canvas {   width: 100%;  height: 85%;  }
</style>
<script src="http://maps.google.com/maps/api/js?sensor=false">
 // Carga librería de Google Maps. Doc:  http://code.google.com/apis/maps/documentation/javascript/
</script>
<script type="text/javascript">

// Determine support for Geolocation
  if (navigator.geolocation) {     
      navigator.geolocation.getCurrentPosition(displayPosition, errorFunction);
  } else { alert('Geolocation is not supported in this browser.'); }
// Success callback function
  function displayPosition(pos){
    var mylat = <%= @site.latitud %>;
    var mylong = <%= @site.longitud %>;
    var zoom = <%= @site.zoom %>;
    var thediv = document.getElementById('locationinfo');
    thediv.innerHTML = '<p>Your longitude is :' +
        mylong + ' and your latitide is ' + mylat + '</p>';
 
  var image = new google.maps.MarkerImage(
                                  "<%= image_path(@site.image_url) %>",
                                  new google.maps.Size(80,70),
                                  new google.maps.Point(0,0),
                                  new google.maps.Point(20,35),
                                  new google.maps.Size(80,70)
                        );
 // Store my position (“y=mylat”, “x=mylong”) in variable “lating”
  var latlng = new google.maps.LatLng(mylat, mylong);
 // Define my Google Maps options in variable “myOptions”
    var myOptions = {
      zoom: zoom,                                                                  // Define scale
      center: latlng,                                                            // Define map center
      mapTypeId: google.maps.MapTypeId.ROADMAP   // tipo Roadmad, Satellite, Terrain, Hybrid
    };
 // Load Google Map according to “myOptions” in Canvas identified by “map_canvas”
  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
 // Add marker in Google Maps “map” in position defined by “lating”
  var marker = new google.maps.Marker({
      position: latlng, 
       map: map, 
     draggable:false,
     animation: google.maps.Animation.BOUNCE,
     icon: image

   });
 }

// Error callback function
  function errorFunction(pos) { alert('Error!'); }
</script>
<div id="site">

  <h1><%= @site.type.name if @site.type %></h1> 
 
  <div id="map_canvas" style="width:500px; height:350px; float:right; margin-rigth:50px;"></div>
  <div id="locationinfo"></div>

  <%= image_tag(@site.image.url, :class => 'site_image') %>

  <h3><%= @site.name %></h3> 

  <p><%=sanitize @site.description %></p>

  <p><b>Autor:</b> 
          <%= @site.user.name if @site.user %></p>

  <p><b>Comentarios:</b> 
<% @site.comentarios.each do |coment| %>
  <p>
    <%= coment.user_id %>:
 
   <%= coment.coment%> |

   <% if coment.user == current_user %>
	<%= link_to 'Edit', edit_comentario_path(coment) %> |
	<%= link_to 'Destroy', coment,
	:confirm => 'Are you sure?',
	:method => :delete %>
   <% end %>
  </p>
<% end %>
<p>Añada su comentario</p>

<%= render 'form2' %>
<div class="visitas">
  <b>Sitio incluido en:</b>  <%= @site.trips.size%> <b>viajes</b><br>
  <b>Visitas:</b>  <%= @site.visitas %>
</div>

<p />
<% if @site.user == current_user %>
  <%= link_to 'Edit', edit_site_path(@site) %> |
<% end %>
<%= link_to 'Back', sites_path %>
</div> 
