<div id="site">
 
  <h1><%= @site.type.name if @site.type %></h1> 

  <%= image_tag(@site.image_url, :class => 'site_image') %>

  <h3><%= @site.name %></h3> 

  <p><%=sanitize @site.description %></p>

  <p><b>Autor:</b> 
          <%= @site.user.name if @site.user %></p>

  <p><b>Comentarios:</b> 
<% @site.comentarios.each do |coment| %>
  <p>
    <%= coment.user.name %>:
 
   <%= coment.coment%> |

   <% if coment.user == current_user %>
	<%= link_to 'Edit', edit_comentario_path(coment) %> |
	<%= link_to 'Destroy', coment,
	:confirm => 'Are you sure?',
	:method => :delete %>
   <% end %>
  </p>
<% end %>
<p>Añada su comentario</p>

<%= render 'form2' %>

<p />
<% if @site.user == current_user %>
  <%= link_to 'Edit', edit_site_path(@site) %> |
<% end %>
<%= link_to 'Back', sites_path %>
</div> 
