<div id="site">
 
  <h1><%= @site.type.name if @site.type %></h1> 

  <%= image_tag(@site.image.url, :class => 'site_image') %>

  <h3><%= @site.name %></h3> 

  <p><%=sanitize @site.description %></p>

<% if not(@site.comentarios.empty?) %>
<div id = comentarios>
        
<%= link_to 'Comentarios', site_comentarios_path(@site) %>
</div>
<%end %>

 <p><b>Autor:</b>
       <%= @site.user.name if @site.user %> </p>
</div> 

<div class = "visitas">
<b>Visitas: </b><%= @site.visitas %>
</div>


<p />

<% if (@site.user == current_user) && current_user %>
<%= link_to 'Edit', edit_site_path(@site) %> |
<% end %>

<%= link_to 'Back', sites_path %>

<br />
Nº de viajes que lo incluyen : <%= @site.visits.size %> 
<br />
<br />
<% if (@site.longitud != nil) and (@site.latitud != nil) and (@site.zoom!=nil) %>
<div id="map_canvas"></div>

 <div id="locationinfo"></div>
<script type="text/javascript">

latitud = <%=@site.latitud%>;
longitud = <%=@site.longitud%>;
zoom = <%=@site.zoom%>;
image= "/assets/" + "<%= @site.image_url %>"
displayPosition( latitud, longitud,zoom, image);

</script>
<%end%>


<br />
<h2>Añadir Un Comentario:</h2>
<%= form_for([@site, @site.comentarios.build]) do |f| %>
 
  <div class="field">
    <%= f.label :coment %><br />
    <%= f.text_area :coment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


