<div id="site">
 
  <h1><%= @site.type.name if @site.type %></h1> 

  <%= image_tag(@site.image_url, :class => 'site_image') %>

  <h3><%= @site.name %></h3> 

  <p><%=sanitize @site.description %></p>

  <p><b>Autor:</b>
  	<%= @site.user.name if @site.user %></p>

  </div>

  <div class="visitas">
  	<p><b>Visitas:</b>
  		<%= @site.visits %></p>
  </div> 
  
<p/>

<% if @site.user == current_user %>
	<%= link_to 'Edit site', edit_site_path(@site) %> |
<% end %>
<%= link_to 'Back to Sites list', sites_path %> |
<% if @site.comments != [] %>	<!--se adjuntan los comentarios al final de la descripción del sitio, si los hubiera-->
	<%= link_to 'Comments', site_comments_path(@site) %> |
<% end %>
<%= link_to 'Add your comment', new_site_comment_path(@site) %>
