<style type="text/css">
  #map_canvas {   float:right;  width:500px;  height:400px;  }
</style>

<div id="site">
 
  <h1><%= @site.type.name if @site.type %></h1> 

  <%= image_tag(@site.image.url, :class => 'site_image') %>

<div id="map_canvas"></div>

  <h3><%= @site.name %></h3> 

  <p><%=sanitize @site.description %></p>

  <p><b>Autor:</b>           <%= @site.user.name if @site.user %></p>
</div> 

<div class="visitas">
  <b>Visitas:</b>  <%= @site.visitas %>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type="text/javascript">

    var mylat = <%= @site.lat %>;
    var mylong = <%= @site.long %>;

    var latlng = new google.maps.LatLng(mylat, mylong);

    var myOptions = {
      zoom: 15,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  var marker = new google.maps.Marker({

      position: latlng, 
       map: map, 
      title: "<%= @site.name %>"
   });

</script>

<p />
<% if @site.user == current_user %>  <%= link_to 'Edit', edit_site_path(@site) %> |<% end %><%= link_to 'Back', sites_path %>
