<!DOCTYPE html> 
<html> 
<head> 
  <title>Planet</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function() {
      $( "#trip_description" ).cleditor();
    });
  </script>

</head>
<body id="planet"> 
  <div id="banner"> 
    <%= image_tag("logo3.png") %>
    <%= @page_title || "Planet Travel Site" %>
  </div> 
  <div id="columns"> 
    <div id="side"> 
      <%= link_to "Home", planet_index_path %>  
      <%= link_to "Tipos",  types_path %>  
      <%= link_to "Sitios", sites_path %>  
      <%= link_to "Autores", planet_author_path %>  
      <%= link_to "Tipos ordenados", types_ordered_index_path %> 
      <%= link_to "Contact", planet_contact_path %>
    </div> 
    <div id="main"> 
      <div id="shortcuts">
        <%= link_to "Home", planet_index_path %>  
        <%= link_to "Tipos",  types_path %>  
        <%= link_to "Sitios", sites_path %>  
        <%= link_to "Autores", planet_author_path %>  
        <%= link_to "Tipos ordenados", types_ordered_index_path %> 
        <%= link_to "Contact", planet_contact_path %>
      </div>
      <%= yield %>
      <div id="shortcuts">
        <%= link_to "Home", planet_index_path %>  
        <%= link_to "Tipos",  types_path %>  
        <%= link_to "Sitios", sites_path %>  
        <%= link_to "Autores", planet_author_path %>  
        <%= link_to "Tipos ordenados", types_ordered_index_path %> 
        <%= link_to "Contact", planet_contact_path %>
      </div>
    </div> 
  </div> 
</body> 
</html> 