<!DOCTYPE html> 
<html> 
<head> 
  <title>Planet</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function() {
      $( "#trip_description" ).cleditor();
    });
  </script>

</head>
<body id="planet"> 
  <div id="banner"> 
    <%= image_tag("logo3.png") %>
    <%= @page_title || "Planet Travel Site" %>
  </div> 
  <div id="columns"> 
    <div id="side"> 
      <%= link_to "Home", planet_index_path %><br /> 
      <%= link_to "Tipos",  types_path %><br /> 
      <%= link_to "Sitios", sites_path %><br /> 
      <%= link_to "Contact", planet_contact_path %><br />
      <%= link_to "Authors", planet_author_path %>
    </div> 
    <div id="main"> 

      <%= link_to "Home", planet_index_path %>
      <%= link_to "Contact" , planet_contact_path %>
      <%= link_to "Ejemplo" , planet_ejemplo_path %>
      <%= link_to "Authors" , planet_author_path %>
      <%= link_to "Type" , types_path %>
      <%= link_to('Order', ordered_index_types_path) %>
     
      <%= yield %>

      <%= link_to "Home", planet_index_path %>
      <%= link_to "Contact" , planet_contact_path %>
      <%= link_to "Ejemplo" , planet_ejemplo_path %>
      <%= link_to "Authors" , planet_author_path %>
      <%= link_to "Type" , types_path %>
      <%= link_to('Order', ordered_index_types_path) %>

    </div> 
  </div> 
</body> 
</html> 
