<!DOCTYPE html> 
<html> 
<head> 
  <title>Planet</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="025/favicon.ico" type="image/ico"/>
  <link rel="icon" href="favicon.ico" type="image/ico"/>
  <script type="text/javascript">
    $(function() {
      $( "#trip_description" ).cleditor();
    });
  </script>

</head>

<body id="planet"> 
  <div id="banner"> 
    <%= image_tag("logo3.png") %>
    <%= @page_title || "Planet Travel Site" %><br />
    <div class="user">
      <% if current_user %>
        <%= link_to current_user.name, 
             edit_user_registration_path %> |
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div> 
  </div> 
  <div id="columns"> 
    <div id="side"> 
      <%= link_to "Home", planet_index_path %><br /> 
      <%= link_to "Tipos",  types_path %><br /> 
      <%= link_to "Sitios", sites_path %><br /> 
      <%= link_to "Viajes", trips_path %><br /> 
      <%= link_to "Contact", planet_contact_path %><br />
      <%= link_to "Sign up", new_user_registration_path unless current_user %>
      <a href="app/table_of_contents.html">Documentacion</a>
<div id="buscar">
<form action='/planet/search'>
  <input id="bs" name="busqueda" type="text">
  <input type='submit' value='Search' />
 </form>
</div>
    </div> 
    <div id="main"> 
      <p class="notice"><%= notice %></p> <p class="alert"><%= alert %></p>

<%= link_to('Home', planet_index_path) + "|" + link_to('Contact', planet_contact_path) + "|" + link_to('Ejemplo', planet_ejemplo_path) + "|" + link_to('Author', planet_author_path) + "|" + link_to('Tipos', types_path) + "|" + link_to('Sitios', sites_path) + "|" + link_to('Tipos_ordenados', types_ordered_index_path) %> 
      <%= yield %>
</br>
<%= link_to('Home', planet_index_path) + "|" + link_to('Contacts', planet_contact_path) + "|" + link_to('Ejemplo', planet_ejemplo_path) + "|" + link_to('Author', planet_author_path) + "|" + link_to('Tipos', types_path) + "|" + link_to('Sitios', sites_path) + "|" + link_to('Tipos_ordenados', types_ordered_index_path) %>
</br>
<div id="subirArriba">
<a href='#' onclick='MGJS.goTop();return false;'><img src='http://3.bp.blogspot.com/_CJgyaq5cULk/S28wfgg3mPI/AAAAAAAAAoo/zr-uqDOmvho/s320/arriba.png' title='Ir arriba'/></a>
</div> 
    </div> 
  </div> 
</body> 
</html> 
