<!DOCTYPE html> 
<html> 
<head> 
  <title>Planet</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function() {
      $( "#trip_description" ).cleditor();
    });
  </script>

</head>

<body onload = "iniMapa()" >

  <div id="wrapper">

    <div id="header-wrapper">
      <div id="header">
        <div id="logo">
          <h1><a href="#">Planet Travel</a></h1>
          <p>the best tourism site</p>
        </div>
      </div>
    </div>
    <!-- end #header -->

    <div id="menu">
    <ul>
        <li><%= link_to "Home", planet_index_path %></li>
        <li><%= link_to('Contact', planet_contact_path) %></li>
        <li><%= link_to('Ejemplo', planet_ejemplo_path) %></li>
        <li><%= link_to "Authors", planet_author_path %></li>
        <li><%= link_to "Tipos",  types_path %></li>
        <li><%= link_to('Tipos ordenados', ordered_index_types_path) %></li>
        <li><%= link_to "Sitios", sites_path %></li>
        <li><%= link_to "Viajes", trips_path %></li>
        <li><%= link_to "Usuarios", users_path %></li>
      </ul>
    </div>
    <!-- end #menu -->

    <div id="page">

      <div id="content">

        <div id ="search">
          <p>
            <%= form_tag planet_search_path, :method => 'get' do %>
              <%= text_field_tag(:search, nil, :placeholder => "Search") %>
              <%= submit_tag "Search" %>
            <% end %>
          </p>
          <p>
            <% if current_user %>
              <%= link_to current_user.name, edit_user_registration_path %> |
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            <% else %>
              <%= link_to "Sign in", new_user_session_path %>
            <% end %>
          </p>
        </div>

        <p class="notice"><%= notice %></p> <p class="alert"><%= alert %></p>

          <%= yield %>

      </div>

    </div>

  </div>

  <div id="footer">
    <p>2012. Sitename.com. All rights reserved. Photos by <a href="http://fotogrph.com/">Fotogrph</a>. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.<!--%@##--> Design provided by <a href="http://www.freewebtemplates.com/">Free Website Templates</a>.<!--##@%--></p>
  </div>
  <!-- end #footer -->

</body>

</html>