<!DOCTYPE html> 
<html> 
<head> 
  <title>Planet</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">
    $(function() {
      $( "textarea" ).cleditor();
    });
  </script>


</head>

<body id="planet"> 
  <div id="banner"> 
    <%= image_tag("logo3.png") %>
    <%= @page_title || "Planet Travel Site" %><br />
    <div class="user">
      <% if current_user %>
        <%= link_to current_user.name, 
             edit_user_registration_path %> |
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path %>
      <% end %>
    </div> 
  </div> 
  <div id="columns"> 
    <div id="side"> 
      <%= link_to "Home", planet_index_path %><br /> 
      <%= link_to "Tipos",  types_path %><br /> 
      <%= link_to "Sitios", sites_path %><br /> 
      <%= link_to "Viajes", trips_path %><br /> 
      <%= link_to "Autor", planet_autor_path %><br /> 
      <%= link_to "Contact", planet_contact_path %><br />
      <%= link_to "Sign up", new_user_registration_path if !current_user %>
    </div> 
    <div id="main"> 
      <p class="notice"><%= notice %></p> <p class="alert"><%= alert %></p>
      <%= yield %>
    </div> 
    <div id="bottom"> 
      <%= link_to "Home", planet_index_path %>  |  
      <%= link_to "Tipos",  types_path %>  |  
      <%= link_to "Sitios", sites_path %>  |  
      <%= link_to "Viajes", trips_path %>  |   
      <%= link_to "Autor", planet_autor_path %>  |  
      <%= link_to "Contact", planet_contact_path %>  |  
      <%= link_to "Sign up", new_user_registration_path if !current_user %>
    </div> 
  </div> 
</body> 
</html> 
