<!DOCTYPE html>
<html>
<head>
  <title>Planet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
<div id='enla1'>
<%= link_to('Index', planet_index_path) + " " + link_to('Contact', planet_contact_path) + " " + link_to('Ejemplo', planet_ejemplo_path) + " " + link_to('Authors', planet_author_path)%>
</div>

<%= yield %>

<div class='enla2'>
<%= link_to('Index', planet_index_path) + " " + link_to('Contact', planet_contact_path) + " " + link_to('Ejemplo', planet_ejemplo_path) + " " + link_to('Authors', planet_author_path)%>
</div>
</div>
</body>
</html>
