<!DOCTYPE html>
<html>
<head>
  <title>Planet</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "Inicio", planet_index_path %> 
  <%= link_to "Contacto", planet_contact_path %>
  <%= link_to "Ejemplo", planet_ejemplo_path %>
  <%= link_to "Autores", planet_author_path %>
  <%= link_to "Tipos", types_path %>
  <%= link_to "Tipos ordenados", types_ordered_index_path %> <br>

<%= yield %>

<br>
  <%= link_to "Inicio", planet_index_path %> 
  <%= link_to "Contacto", planet_contact_path %>
  <%= link_to "Ejemplo", planet_ejemplo_path %>
  <%= link_to "Autores", planet_author_path %>
  <%= link_to "Tipos", types_path %>
  <%= link_to "Tipos ordenados", types_ordered_index_path %> <br>

</body>
</html>
